#### Add your code below following the instructions given in the course

<H1>Data Science Tools and Ecosystem<H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Commonly languages using for Data Science
1. Phyton
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript
9. Swift
10. Go
11. MathLab
12. SAS

Commonly libraries using for Data Science:
1. Pandas
2. TensorFlow
3. NumPy
4. ggplot
5. tidyr
6. dplyr

|Data Science Tools|
|------------------|
|Apache Spark|
|D3.js|
|IBN SPSS|

<H3> Below a few examples of evaluating arithmetic expressions in Phyton <H3>

In [1]:
#This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
x=200
y=60
print(f" The conversion of {x} minutes into hours is: {x/y} hours")

 The conversion of 200 minutes into hours is: 3.3333333333333335 hours

**Objectives:**
- Create a list of Data Science languages.
- Create a list of Data Science libraries.
- Create a table of Data Science tools.
- Introduce some arithmetic expressions in Phyton.

<H2> Author. <H2>

Jose David Cordero Calderon